# Node modules
node_modules/

# Environment variables
.env

# Logs
*.log

# macOS Finder
.DS_Store

# Windows image file thumbs
Thumbs.db

# npm logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
/dist
/build

